[submodule "code/deps/common/box2d"]
	path = code/deps/common/box2d
	url = https://github.com/crafn/clover-box2d.git
[submodule "code/deps/common/boost"]
	path = code/deps/common/boost
	url = https://github.com/crafn/clover-boost.git
[submodule "code/deps/common/jsoncpp"]
	path = code/deps/common/jsoncpp
	url = https://github.com/crafn/clover-jsoncpp.git
