[submodule "code/deps/common/angelscript"]
	path = code/deps/common/angelscript
	url = https://github.com/crafn/clover-angelscript.git
[submodule "code/deps/common/box2d"]
	path = code/deps/common/box2d
	url = https://github.com/crafn/clover-box2d.git
[submodule "code/deps/common/glfw"]
	path = code/deps/common/glfw
	url = https://github.com/crafn/clover-glfw.git
[submodule "code/deps/common/boost"]
	path = code/deps/common/boost
	url = https://github.com/crafn/clover-boost.git
[submodule "code/deps/common/utfcpp"]
	path = code/deps/common/utfcpp
	url = https://github.com/crafn/clover-utfcpp.git
[submodule "code/deps/common/jsoncpp"]
	path = code/deps/common/jsoncpp
	url = https://github.com/crafn/clover-jsoncpp.git
[submodule "code/deps/common/clipper"]
	path = code/deps/common/clipper
	url = https://github.com/crafn/clover-clipper.git
[submodule "code/deps/common/glew"]
	path = code/deps/common/glew
	url = https://github.com/crafn/clover-glew.git
